<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <div class="main-content">
    {{ content }}
  </div>

  <footer class="footer">
    <hr>
    <p>&copy; 2025 Jack Chubick. All rights reserved.</p>
    <p>Contact me at jachubick@gmail.com</p>
  </footer>

  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</body>
</html>
